<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class = "menu-wrapper">

            <div class = "container">

                <div class = "row">

                    <div class = "col-md-3 col-sm-4">

                        <a href = "#"> <img alt = "MyTourDriverLogo" class = "img-responsive c-logo" src = "application_resources/images/taxi-icon.png"></a>
                    </div>

                    <div class = "col-md-9 col-sm-8">
                        <div class = "header-top text-right">
                        </div>

                        <div class = "header-top text-right">
                            <ul class = "list-inline list-unstyled">
<!--                                <li><a class = "tagline " style = "border-radius:20px; cursor: pointer; background: #FFF; padding: 3px 12px; color: #c91c23; font-weight: 500;" data-toggle = "modal" data-target = "#inquirymodal"><i class = "fa fa-cab"></i> Direct Inquiry</a>
                                </li>-->
                                <li><a class = "tagline" style = "border-radius:20px; cursor: pointer; border:1px solid #FFF; padding: 2px 5px; color: #FFF; font-weight: 500;" data-toggle = "modal" data-target = "#contactModal"><i class = "fa fa-info-circle"></i> kkyapa@gmail.com</a>
                                </li>
                                <li><a class = "tagline" style = "border-radius:20px; cursor: pointer; border:1px solid #FFF; padding: 2px 5px; color: #FFF; font-weight: 500;" data-toggle = "modal" data-target = "#loginModal"><i class = "fa fa-info-circle"></i> Sign-In</a>
                                </li>
                                <li><a class = "tagline" style = "border-radius:20px; cursor: pointer; border:1px solid #FFF; padding: 2px 5px; color: #FFF; font-weight: 500;" data-toggle = "modal" data-target = "#signUpModal"><i class = "fa fa-info-circle"></i> Sign-Up</a>
                                </li>
                            </ul>
                        </div>
                        <div class = "menu-wrap">
                            <div class = "menu-wrap-inner">
                                <div class = "row">
                                    <div class = "col-md-8">
                                        <div id = 'cssmenu'>
                                            <ul>
                                                <li>
                                                    <a href = '#'><b>Home</b></a>
                                                </li>
                                                <li class = "">
                                                    <a
                                                        href = "#"> <b>About</b> </a>
                                                    <ul>

                                                    </ul>
                                                </li>
                                                <!--<li class = "">
                                                <a
                                                href = "#"> <b>Services</b> </a>
                                        
                                                <ul>
                                                <li> <a href = 'http://www.casons.lk/services/4-4-rentals'>4x4 Rentals</a> </li>
                                                <li> <a href = 'http://www.casons.lk/services/wedding-vip'>Weddings & Events</a> </li>
                                                <li> <a href = 'http://www.casons.lk/services/fleet-management'>Fleet Management</a> </li>
                                                <li> <a href = 'http://www.casons.lk/services/road-side-assistance'>Road Side Assistance </a> </li>
                                                <li><a href = "http://www.bikerentsrilanka.com/" target = "_blank">MoterBike Rental</a></li>
                                                <li> <a href = 'http://www.casons.lk/services/self-drive-rental'>Self Drive Rental</a> </li>
                                                <li> <a href = 'http://www.casons.lk/services/chauffeur-driven-tours'>Chauffeur Driven & Tours</a> </li>
                                                <li> <a href = 'http://www.casons.lk/services/airport-transfers'>Airport Tansfers</a> </li>
                                                <li> <a href = 'http://www.casons.lk/services/limousine-services'>Limousine Services</a> </li>
                                                <li> <a href = 'http://www.casons.lk/services/raca-garage-services'>RACA Garage Services</a> </li>
                                                </ul>
                                                </li> -->



                                                <!--<li class = "">
                                                <a
                                                href = "#"> <b>Fleet</b> </a>
                                        
                                                <ul>
                                                <li> <a href = 'http://www.casons.lk/vehicles/cars'>Cars</a> </li>
                                                <li> <a href = 'http://www.casons.lk/vehicles/vans'>Vans</a> </li>
                                                <li> <a href = 'http://www.casons.lk/vehicles/suvs'>SUV’s</a> </li>
                                                <li> <a href = 'http://www.casons.lk/vehicles/4-4-cabs'>4x4 Cabs</a> </li>
                                                <li> <a href = 'http://www.casons.lk/vehicles/motorbikes'>Motor Bikes</a> </li>
                                                <li> <a href = 'http://www.casons.lk/vehicles/buses'>Buses</a> </li>
                                                </ul>
                                                </li> -->



                                                <!--<li class = "">
                                                <a
                                                href = "#"> <b>Corporate Rental</b> </a>
                                        
                                                </li> -->


                                                <!--
                                                <li class = "">
                                                <a
                                                href = "#"> <b>Travel</b> </a>
                                        
                                                <ul>
                                                <li> <a href = 'http://www.casons.lk/travel/anuradhapura'>Travel to Anuradhapura</a> </li>
                                                <li> <a href = 'http://www.casons.lk/travel/polonnaruwa'>Travel to Polonnaruwa</a> </li>
                                                <li> <a href = 'http://www.casons.lk/travel/jaffna'>Travel to Jaffna</a> </li>
                                                <li> <a href = 'http://www.casons.lk/travel/kandy'>Travel to Kandy</a> </li>
                                                <li> <a href = 'http://www.casons.lk/travel/trincomalee'>Travel to Trincomalee</a> </li>
                                                <li> <a href = 'http://www.casons.lk/travel/galle'>Travel to Galle</a> </li>
                                                <li> <a href = 'http://www.casons.lk/travel/bentota'>Travel to Bentota</a> </li>
                                                <li> <a href = 'http://www.casons.lk/travel/hikkaduwa'>Travel to Hikkaduwa</a> </li>
                                                <li> <a href = 'http://www.casons.lk/travel/unawatuna'>Travel to Unawatuna</a> </li>
                                                <li> <a href = 'http://www.casons.lk/travel/nuwaraeliya'>Travel to Nuwara Eliya</a> </li>
                                                </ul>
                                                </li> -->



                                                <li><a href = '#'><b>Contact</b></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class = "col-md-4" style="">
                                        <div class = "hotline-wrap"><span><i class="fa fa-user"></i></span> <a  href = "#">Kalinga Yapa</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
